<section class="lbsection">
   {% if section.settings.heading!=blank %}
    <h2 class="lbheading">{{ section.settings.heading}}</h2>
   {% endif %}
</section>

<style>
    .lbsection{
        width:100%;
        max-width:1200px;
        margin:0 auto;
        padding:60px 20px;
        min-height:300px;
    }

    .lbheading{
        font-size:900px
        text-align:center;
    }
   
    /*mobile*/
    @media (max-width: 768px) {
    .lbsection {
        max-width: 100%;
        padding: 40px 16px;
        min-height: auto;
    }

    .lbheading {
        font-size: 22px;
    }
</style>

{% schema %}
{
  "name": "Lookbook",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "section heading",
      "default": "Lookbook"
    }
  ],
  "presets": [
    {
      "name": "Lookbook"
    }
  ]
}
{% endschema %}